# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.editorconfig
!wp-content/
!book-portfolio.html

# Ignore everything in the "wp-content" directory,
# except the "plugins" and "themes" directories.
wp-content/*
# !wp-content/plugins/
!wp-content/themes/
!wp-content/languages/

# Ignore everything in the "plugins" directory, except the plugins you specify
# wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
# !wp-content/themes/dt-the7/
!wp-content/themes/conor/

*.DS_Store

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi